Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

chore: 🤖 ini sushi emoji
  packages/@types/src/models/Room.ts
  packages/functions/src/__dummy__/Room.ts
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
Due: functions, ui

feat: 🎸 router transition upon success delete & quit
  packages/ui/src/components/RoomDelete/RoomDelete.tsx
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
  packages/ui/src/components/SpaceDeleteForm/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceQuitForm/SpaceQuitForm.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
Due: ui

chore: 🤖 i18n translations common & form
  locales/ja/common.json
  locales/ja/form.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/common.json
  locales/zh/form.json
  locales/zh/room.json
  locales/zh/space.json
Due: none

perf: ⚡️ text overflow fix
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/ActivityCard/ActivityCardStyles.ts
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
Due: ui

perf: ⚡️ add emoji for popover w/refactoring
  packages/ui/src/components/EmojiPicker/EmojiPickerStyles.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopover.tsx
Due: ui

perf: ⚡️ refactor vercel next.js
  .github/workflows/web.yml
  packages/web/next.config.js
  vercel.json
Due: none

perf: ⚡️ vercel
  package.json
  packages/web/next.config.js
  vercel.json
Due: none

chore: 🤖 build
  package.json
Due: none

chore: 🤖 update
  packages/web/next.config.js
Due: none

chore: 🤖 wip
  vercel.json
Due: none

chore: 🤖 wip
  packages/web/pages_/ssg/[spaceId]/index.tsx
Due: none

chore: 🤖 refactor
  packages/web/pages_/ssg/[spaceId]/index.tsx
  vercel.json
Due: none

chore: 🤖 pioneer okr update
  packages/functions/Makefile
  packages/pioneer/src/.vuepress/config.js
  packages/pioneer/src/day/2020/07/21.md
  packages/pioneer/src/day/2020/07/22.md
  packages/pioneer/src/day/2020/07/23.md
  packages/pioneer/src/day/2020/07/24.md
  packages/pioneer/src/day/2020/07/25.md
  packages/pioneer/src/day/2020/07/26.md
  packages/pioneer/src/day/2020/07/27.md
  packages/pioneer/src/day/2020/07/28.md
  packages/pioneer/src/day/2020/07/29.md
  packages/pioneer/src/day/2020/07/30.md
  packages/pioneer/src/day/2020/07/31.md
  packages/pioneer/src/day/2020/08/01.md
  packages/pioneer/src/day/2020/08/02.md
  packages/pioneer/src/day/2020/08/03.md
  packages/pioneer/src/day/2020/08/04.md
  packages/pioneer/src/day/2020/08/05.md
  packages/pioneer/src/day/2020/08/06.md
  packages/pioneer/src/day/2020/08/07.md
  packages/pioneer/src/day/2020/08/08.md
  packages/pioneer/src/day/2020/08/09.md
  packages/pioneer/src/day/2020/08/10.md
  packages/pioneer/src/sus/2020/06.md
  packages/pioneer/src/sus/2020/07.md
  packages/pioneer/src/sus/2020/08.md
  packages/pioneer/src/sus/2020/09.md
Due: none

chore: 🤖 update makefile web
  packages/web/Makefile
Due: none

chore: 🤖 remove vercel gha
  .github/workflows/vercel.yml
Due: none

chore: 🤖 update
  packages/pioneer/src/.vuepress/config.js
Due: none

feat: 🎸 ini papercups widget
  .gitignore
  locales/en/papercups.json
  locales/ja/papercups.json
  locales/zh/papercups.json
  package.json
  packages/functions/Makefile
  packages/ui/package.json
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/PaperCups/PaperCups.tsx
  packages/ui/src/components/PaperCups/index.ts
  packages/web/.gitignore
  packages/web/Makefile
  packages/web/next.config.js
  packages/web/pages_/help.tsx
  yarn.lock
Due: ui

chore: 🤖 papercups
  packages/web/i18n.json
Due: none

chore: 🤖 update account id
  packages/web/next.config.js
Due: none

feat: 🎸 ini help screen
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
  packages/ui/src/components/HelpScreen/index.ts
  packages/web/pages_/help.tsx
Due: ui

perf: ⚡️ remove hubspot components
  packages/ui/src/components/HubSpot/HubSpot.tsx
  packages/ui/src/components/HubSpot/index.ts
  packages/ui/src/components/NoHubSpot/NoHubSpot.tsx
  packages/ui/src/components/NoHubSpot/index.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/index.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/settings.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/settings.tsx
Due: ui

chore: 🤖 update help screen
  packages/web/pages_/help.tsx
Due: none

chore: 🤖 i18n for help
  locales/ja/papercups.json
  locales/zh/papercups.json
  packages/web/i18n.json
  packages/web/pages_/help.tsx
Due: none

perf: ⚡️ help for profile menu item
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
Due: ui

chore: 🤖 props for help screen
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
  packages/web/pages_/help.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/HelpScreen/HelpScreen.tsx
Due: ui

feat: 🎸 video pr update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/constants.ts
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
  packages/video/src/hooks/useMediaStreamTrack/__mocks__/useMediaStreamTrack.ts
  packages/video/src/hooks/useMediaStreamTrack/index.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.test.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.ts
Due: video

chore: 🤖 comment pr vercel
  vercel.json
Due: none

perf: ⚡️ upgrade twilio video
  packages/video/package.json
  yarn.lock
Due: none

chore: 🤖 update
  packages/video/package.json
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  yarn.lock
Due: video

perf: ⚡️ update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
Due: video

chore: 🤖 update
  packages/video/package.json
  yarn.lock
Due: none

chore: 🤖 update
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
Due: video

chore: 🤖 update
  packages/video/src/components/AudioLevelIndicator/AudioLevelIndicator.tsx
  packages/video/src/components/LocalVideoPreview/LocalVideoPreview.spec.tsx
  packages/video/src/components/MenuBar/DeviceSelector/AudioInputList/AudioInputList.tsx
  packages/video/src/components/MenuBar/DeviceSelector/VideoInputList/VideoInputList.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.spec.tsx
  packages/video/src/components/MenuBar/FlipCameraButton/FlipCameraButton.tsx
  packages/video/src/components/VideoProvider/useLocalTracks/useLocalTracks.ts
  packages/video/src/components/VideoTrack/VideoTrack.spec.tsx
  packages/video/src/components/VideoTrack/VideoTrack.tsx
  packages/video/src/hooks/useIsTrackEnabled/useIsTrackEnabled.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.spec.tsx
  packages/video/src/hooks/useLocalVideoToggle/useLocalVideoToggle.tsx
Due: video

chore: 🤖 update
  packages/video/package.json
  packages/video/src/constants.ts
  packages/video/src/hooks/useMediaStreamTrack/__mocks__/useMediaStreamTrack.ts
  packages/video/src/hooks/useMediaStreamTrack/index.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.test.ts
  packages/video/src/hooks/useMediaStreamTrack/useMediaStreamTrack.ts
  yarn.lock
Due: video

Path conditions:
  functions: any of: packages/functions/src
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
