Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

Update cla.yml
  .github/workflows/cla.yml
Due: none

feat: 🎸 ini room card emoji picker
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/RoomCardEmojiPicker/index.ts
Due: ui

feat: 🎸 add members update
  packages/@types/src/models/Activity.ts
  packages/@types/src/models/Member.ts
  packages/@types/src/models/Profile.ts
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
  packages/functions/src/members/onUpdate/__tests__/activityMemberUpdate.spec.ts
  packages/functions/src/members/onUpdate/activityMemberUpdate.ts
  packages/functions/src/members/onUpdate/index.ts
Due: functions

chore: 🤖 update
  packages/functions/src/members/index.ts
Due: functions

feat: 🎸 ini user for space panel
  packages/common/src/firebase/members.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Due: ui

feat: 🎸 ini profile for space screen
  packages/@types/src/models/Member.ts
  packages/common/src/firebase/members.ts
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
  packages/web/pages_/[spaceId]/index.tsx
Due: functions, ui

perf: ⚡️ member update firebase rules test
  packages/functions/firestore/firestore.rules
  packages/functions/src/__tests__/spaces/members.spec.ts
Due: functions

perf: ⚡️ update members service
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
Due: none

feat: 🎸 working member profile
  packages/common/src/firebase/members.ts
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Due: ui

perf: ⚡️ refactor to initialEmoji
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: ui

chore: 🤖 update firestore rules for member update
  packages/functions/firestore/firestore.rules
Due: none

chore: 🤖 update
  packages/functions/firestore/firestore.rules
  packages/functions/src/helpers/scoreActions.ts
  packages/functions/src/members/onUpdate/activityMemberUpdate.ts
Due: functions

feat: 🎸 update firestore rules
  packages/functions/firestore/firestore.rules
  packages/functions/src/__dummy__/Member.ts
  packages/functions/src/__tests__/spaces/members.spec.ts
Due: functions

chore: 🤖 udpate room model
  packages/@types/src/models/Room.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/__tests__/rooms/update.spec.ts
Due: functions

feat: 🎸 ini room card emoji picker
  packages/ui/src/components/RoomCard/RoomCard.tsx
  packages/ui/src/components/RoomCardEmojiPicker/RoomCardEmojiPicker.tsx
  packages/ui/src/components/SpaceBoard/SpaceBoard.tsx
Due: ui

perf: ⚡️ track emoji for room update
  packages/functions/src/rooms/onUpdate/activityRoomUpdate.ts
Due: functions

chore: 🤖 fix member test
  packages/functions/src/__tests__/spaces/members.spec.ts
Due: functions

feat: 🎸 ini space panel description
  locales/en/common.json
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelDescriptionForm/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: ui

feat: 🎸 space panel refactor style input
  packages/functions/src/rooms/onUpdate/activityRoomUpdate.ts
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Due: functions, ui

perf: ⚡️ updated padding for space screen
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Due: ui

feat: 🎸 space panel empty feature introduction
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
Due: ui

perf: ⚡️ update common i18n
  locales/en/common.json
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
Due: ui

perf: ⚡️ styel box with flex and flex grow
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionFormStyles.ts
Due: ui

perf: ⚡️ space panel styles
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
Due: ui

perf: ⚡️ ini emoji select animation
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
Due: ui

chore: 🤖 remove unnecessary motion animations emoji
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
Due: ui

feat: 🎸 ini member revalidation
  packages/@types/src/models/Member.ts
  packages/@types/src/models/Profile.ts
  packages/functions/src/__dummy__/Member.ts
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: functions, ui

chore: 🤖 emoji
  packages/functions/src/spaces/onCreate/spaceMemberSet.ts
Due: functions

feat: 🎸 refactor space panel description form
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
Due: ui

chore: 🤖 fix test member
  packages/functions/src/__dummy__/Member.ts
Due: functions

fix: 🐛 no initial close button bug
  packages/ui/src/components/SpacePanelDescriptionForm/SpacePanelDescriptionForm.tsx
Due: ui

chore: 🤖 i18n trans update
  locales/ja/common.json
  locales/zh/common.json
Due: none

feat: 🎸 ini quit and delete form
  locales/en/form.json
  locales/en/space.json
  packages/common/src/firebase/rooms.ts
  packages/common/src/firebase/spaces.ts
  packages/ui/src/components/ActivityCard/ActivityCard.tsx
  packages/ui/src/components/DeleteForm/DeleteForm.tsx
  packages/ui/src/components/DeleteForm/index.ts
  packages/ui/src/components/QuitForm/QuitForm.tsx
  packages/ui/src/components/QuitForm/index.ts
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomDeleteForm/index.ts
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomForm/index.ts
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/ui/src/components/RoomQuit/index.ts
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
  packages/ui/src/components/RoomQuitForm/index.ts
  packages/ui/src/components/SpaceDelete/SpaceDelete.tsx
  packages/ui/src/components/SpaceDelete/index.ts
  packages/ui/src/components/SpaceDeleteForm/SpaceDeleteForm.tsx
  packages/ui/src/components/SpaceDeleteForm/index.ts
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceForm/index.ts
  packages/ui/src/components/SpaceQuitForm/SpaceQuitForm.tsx
  packages/ui/src/components/SpaceQuitForm/index.ts
  packages/web/pages_/[spaceId]/quit.tsx
Due: ui

feat: 🎸 ini quit form for room and space
  locales/en/room.json
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
  packages/ui/src/components/RoomQuit/RoomQuit.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/room/[roomId]/quit.tsx
Due: ui

feat: 🎸 ini room quit and delete type
  locales/en/common.json
  locales/en/form.json
  packages/ui/src/components/DeleteForm/DeleteForm.tsx
  packages/ui/src/components/QuitForm/QuitForm.tsx
  packages/ui/src/components/RoomDeleteForm/RoomDeleteForm.tsx
  packages/ui/src/components/RoomQuitForm/RoomQuitForm.tsx
Due: ui

Path conditions:
  functions: any of: packages/functions/src
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
