Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  functions:
    paths:
      - packages/functions/src
    carryforward: true
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

Update fossa.yml
  .github/workflows/fossa.yml
Due: none

feat: 🎸 complete refactor functions
  .github/workflows/fossa.yml
  packages/@types/src/models/Leaderboard.ts
  packages/functions/src/__dummy__/Leaderboard.ts
  packages/functions/src/activity/onCreate/scoreBatchUpdate.ts
  packages/functions/src/members/onCreate/__tests__/activityMemberCreate.spec.ts
  packages/functions/src/members/onCreate/__tests__/userSpaceSet.spec.ts
  packages/functions/src/members/onCreate/activityMemberCreate.ts
  packages/functions/src/members/onCreate/memberCountPlus.ts
  packages/functions/src/members/onCreate/userSpaceSet.ts
  packages/functions/src/members/onDelete/__tests__/activityMemberDelete.spec.ts
  packages/functions/src/members/onDelete/__tests__/spaceLeaderboardDelete.spec.ts
  packages/functions/src/members/onDelete/__tests__/userSpaceDelete.spec.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/members/onDelete/memberCountMinus.ts
  packages/functions/src/members/onDelete/spaceLeaderboardDelete.ts
  packages/functions/src/members/onDelete/userSpaceDelete.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/sdkProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/userProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/sdkProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/userProfileUpdate.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
Due: functions

chore: 🤖 update test profiles
  packages/functions/src/profiles/onUpdate/__tests__/leaderboardProfileUpdate.spec.ts
Due: functions

chore: 🤖 add leaderboard profile update index
  packages/functions/src/profiles/onUpdate/index.ts
Due: functions

perf: ⚡️ refactor next config & fossa ci cd
  .github/workflows/fossa.yml
  packages/web/next.config.js
Due: none

feat: 🎸 revamp leaderboard collectiongroup
  locales/en/space.json
  locales/ja/common.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/common.json
  locales/zh/room.json
  locales/zh/space.json
  packages/@types/src/services/LeaderboardQuery.ts
  packages/common/src/firebase/leaderboard.ts
  packages/common/src/serializers/Leaderboard.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/helpers/index.ts
  packages/functions/src/helpers/updateGroupProfile.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionGroupProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionGroupProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/memberProfileUpdate.ts
  packages/ui/src/components/LeaderboardCard/LeaderboardCard.tsx
  packages/ui/src/components/LeaderboardCard/LeaderboardCardStyles.ts
  packages/ui/src/components/LeaderboardCard/index.ts
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
  packages/ui/src/components/SpaceLeaderboard/index.ts
  packages/ui/src/components/SpaceLeaderboardList/SpaceLeaderboardList.tsx
  packages/ui/src/components/SpaceLeaderboardList/index.ts
  packages/ui/src/components/SpaceLeaderboardLoadMore/SpaceLeaderboardLoadMore.tsx
  packages/ui/src/components/SpaceLeaderboardLoadMore/index.ts
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/leaderboard.tsx
Due: functions, ui

chore: 🤖 update profile index
  packages/functions/src/profiles/onUpdate/index.ts
Due: functions

feat: 🎸 darkmode and intl
  locales/en/common.json
  locales/ja/common.json
  locales/ja/index.json
  locales/zh/common.json
  packages/@types/src/states/ThemeState.ts
  packages/common/src/context/DispatchContext.ts
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/DarkModeButton/index.ts
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/IntlForm/index.ts
  packages/ui/src/components/IntlMenu/IntlMenu.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/hooks/useDarkMode/index.ts
  packages/ui/src/hooks/useDarkMode/useDarkMode.ts
  packages/web/pages_/_app.tsx
Due: ui

refactor: 💡 change to states in types
  packages/@types/src/states/AuthState.ts
  packages/@types/src/states/GlobalState.ts
  packages/common/src/context/AuthContext.ts
  packages/common/src/context/GlobalContext.ts
Due: none

feat: 🎸 refactor darkmode function
  packages/common/src/containers/DarkTheme/DarkTheme.tsx
  packages/common/src/containers/DarkTheme/index.ts
  packages/common/src/containers/LightTheme/LightTheme.tsx
  packages/common/src/containers/LightTheme/index.ts
  packages/common/src/containers/Theme/index.ts
  packages/ui/package.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/ui/src/hooks/useDarkMode/index.ts
  packages/ui/src/hooks/useDarkMode/useDarkMode.ts
  packages/web/package.json
  packages/web/pages_/_app.tsx
  packages/web/pages_/index.tsx
  packages/web/src/components/SentreiMeta.tsx
  packages/web/src/components/SentreiSlider.tsx
  yarn.lock
Due: ui, web

chore: 🤖 complete palette migration
  packages/common/src/containers/DarkTheme/DarkTheme.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderStyles.ts
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
  packages/web/src/styles/slider.scss
Due: ui, web

chore: 🤖 refactor to fade for card skeleton
  packages/ui/src/components/RoomCard/RoomCardStyles.ts
  packages/ui/src/components/SpaceCard/SpaceCardStyles.ts
Due: ui

feat: 🎸 implement landing page dark mode
  locales/en/common.json
  locales/en/index.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
Due: ui

refactor: 💡 change to preferences
  locales/en/index.json
  locales/ja/common.json
  locales/ja/index.json
  locales/zh/common.json
  locales/zh/index.json
  packages/ui/src/components/Footer/Footer.tsx
Due: ui

perf: ⚡️ introduce vercel actions
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
  vercel.json
Due: none

chore: 🤖 remove vercel scope
  vercel.json
Due: none

chore: 🤖 update sentrei scope
  vercel.json
Due: none

chore: 🤖 refactor vercel gha
  .github/workflows/vercel.yml
  .github/workflows/web.yml
Due: none

chore: 🤖 vercel
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
Due: none

chore: 🤖 preview sentrei com
  .github/workflows/vercel.yml
  .github/workflows/web.yml
  infrastructure/modules/dns/vercel.tf
Due: none

feat: 🎸 revamp profile update functions
  packages/functions/src/helpers/updateGroupProfile.ts
  packages/functions/src/profiles/onUpdate/__tests__/collectionGroupProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/leaderboardProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/__tests__/memberProfileUpdate.spec.ts
  packages/functions/src/profiles/onUpdate/collectionGroupProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/leaderboardProfileUpdate.ts
  packages/functions/src/profiles/onUpdate/memberProfileUpdate.ts
  packages/ui/src/components/SpaceLeaderboard/SpaceLeaderboard.tsx
Due: functions, ui

chore: 🤖 index profiles functions
  packages/functions/src/profiles/onUpdate/index.ts
Due: functions

chore: 🤖 ini notifications onDelete
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
  packages/functions/src/notifications/onDelete/index.ts
  packages/functions/src/notifications/onDelete/notificationCountUpdate.ts
Due: functions

chore: 🤖 refactor test suites
  packages/functions/src/__tests__/notifications.spec.ts
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
Due: functions

feat: 🎸 refactor notification count plus & minus
  packages/functions/src/notifications/index.ts
  packages/functions/src/notifications/onCreate/__tests__/notificationCountPlus.spec.ts
  packages/functions/src/notifications/onCreate/index.ts
  packages/functions/src/notifications/onCreate/notificationCountPlus.ts
  packages/functions/src/notifications/onDelete/__tests__/notificationCountUpdate.spec.ts
  packages/functions/src/notifications/onDelete/index.ts
  packages/functions/src/notifications/onDelete/notificationCountMinus.ts
Due: functions

feat: 🎸 refactor notification screen
  packages/common/src/firebase/notifications.ts
  packages/ui/src/components/NotificationList/NotificationList.tsx
  packages/ui/src/components/NotificationScreen/NotificationScreen.tsx
Due: ui

feat: 🎸 ini room name form
  locales/en/common.json
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/RoomNameForm/RoomNameForm.tsx
  packages/ui/src/components/RoomNameForm/index.ts
Due: ui

feat: 🎸 ini description form
  packages/ui/src/components/RoomDescriptionForm/RoomDescriptionForm.tsx
  packages/ui/src/components/RoomDescriptionForm/index.ts
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
Due: ui

feat: 🎸 ini space edit
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/SpaceDescriptionForm/SpaceDescriptionForm.tsx
  packages/ui/src/components/SpaceDescriptionForm/index.ts
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceNameForm/SpaceNameForm.tsx
  packages/ui/src/components/SpaceNameForm/index.ts
Due: ui

feat: 🎸 ini profile edit
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileEdit/index.ts
  packages/ui/src/components/ProfileNameForm/ProfileNameForm.tsx
  packages/ui/src/components/ProfileNameForm/index.ts
  packages/web/pages_/profile/index.tsx
Due: ui

feat: 🎸 remove edit form
  packages/ui/src/components/ProfileForm/ProfileForm.tsx
  packages/ui/src/components/ProfileForm/index.ts
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
Due: ui

fix: 🐛 intlform router error
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreenStyles.ts
Due: ui

chore: 🤖 refactor form styles
  infrastructure/modules/dns/auth.tf
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/InviteListStyles.ts
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
Due: ui

perf: ⚡️ i18n for invite form
  locales/en/common.json
  locales/ja/common.json
  locales/ja/notifications.json
  locales/zh/common.json
  locales/zh/notifications.json
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
Due: ui

feat: 🎸 complete refactor form & i18n
  locales/en/auth.json
  locales/en/common.json
  locales/en/form.json
  locales/en/room.json
  locales/en/settings.json
  locales/en/space.json
  locales/ja/auth.json
  locales/ja/common.json
  locales/ja/form.json
  locales/ja/room.json
  locales/ja/settings.json
  locales/ja/space.json
  locales/zh/auth.json
  locales/zh/common.json
  locales/zh/form.json
  locales/zh/room.json
  locales/zh/settings.json
  locales/zh/space.json
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/FormSection/FormSection.tsx
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/RoomEdit/RoomEdit.tsx
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomSettingsForm/RoomSettingsForm.tsx
  packages/ui/src/components/SettingsPasswordForm/SettingsPasswordForm.tsx
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/SettingsUsernameForm.tsx
  packages/ui/src/components/SpaceEdit/SpaceEdit.tsx
  packages/ui/src/components/SpaceForm/SpaceForm.tsx
  packages/ui/src/components/SpaceSettingsForm/SpaceSettingsForm.tsx
  packages/ui/src/components/TabBoard/TabBoard.tsx
  packages/web/i18n.json
Due: ui

perf: ⚡️ refactor auth form
  packages/ui/src/components/AuthForm/AuthForm.tsx
Due: ui

feat: 🎸 revamp functions timestamp
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/rooms/onDelete/activityRoomDelete.ts
  packages/functions/src/spaces/onDelete/activitySpaceDelete.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
Due: functions

perf: ⚡️ refactor vercel version
  .github/workflows/vercel.yml
  .github/workflows/web.yml
Due: none

perf: ⚡️ refactor pioneer week
  packages/pioneer/src/week/2020/13.md
Due: none
