Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  functions:
    paths:
      - packages/functions/src
    carryforward: true
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 complete refactor banner
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

feat: 🎸 complete screen section
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Screen/Screen.tsx
Due: ui

feat: 🎸 complete product section
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Product/Product.tsx
Due: ui

feat: 🎸 complete faq section upgrade
  locales/en/index.json
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/Faq/Faq.tsx
  packages/ui/src/components/Section/Section.tsx
Due: ui

feat: 🎸 refactor banner gradient
  packages/ui/package.json
  packages/ui/src/components/LandingBanner/LandingBanner.tsx
  packages/ui/src/components/LandingBanner/LandingBannerStyles.ts
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradient.tsx
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
  packages/ui/src/components/LandingBannerGradient/index.ts
Due: ui

chore: 🤖 refactor line height
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Due: ui

chore: 🤖 update i18n banner
  locales/ja/index.json
  locales/zh/index.json
Due: none

chore: 🤖 update grey color
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Due: ui

chore: 🤖 update zh i18n
  locales/zh/auth.json
  locales/zh/common.json
  locales/zh/profile.json
  locales/zh/room.json
  locales/zh/settings.json
  locales/zh/space.json
Due: none

chore: 🤖 update
  locales/ja/index.json
  locales/zh/index.json
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Due: ui

chore: 🤖 update
  packages/ui/src/components/LandingBannerGradient/LandingBannerGradientStyles.ts
Due: ui

feat: 🎸 refactor list menu
  locales/en/space.json
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ListMenu/ListMenuStyles.ts
  packages/ui/src/components/ProfileMenu/ProfileMenu.tsx
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/help.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
  packages/web/pages_/profile/index.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

perf: ⚡️ refactor list menu styles w/ i18n
  locales/en/room.json
  locales/ja/room.json
  locales/ja/space.json
  locales/zh/room.json
  locales/zh/space.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ListMenu/ListMenuStyles.ts
  packages/ui/src/components/RoomNone/RoomNone.tsx
Due: ui

chore: 🤖 update banner text
  locales/en/index.json
Due: none

feat: 🎸 complete refactor user verify app-header
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
  packages/web/pages_/profile/index.tsx
  packages/web/pages_/settings.tsx
Due: ui

chore: 🤖 update
  locales/en/common.json
Due: none

perf: ⚡️ upgrade next 9.5.1
  package.json
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Due: none

perf: ⚡️ get static props
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

chore: 🤖 refactor to getServerSideProps
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

perf: ⚡️ update firebase Admin service functions
  packages/common/src/firebase/usernames.ts
  packages/common/src/firebaseAdmin/members.ts
  packages/common/src/firebaseAdmin/profiles.ts
  packages/common/src/firebaseAdmin/rooms.ts
  packages/common/src/firebaseAdmin/spaces.ts
  packages/common/src/firebaseAdmin/usernames.ts
  packages/common/src/serializers/Profile.ts
  packages/common/src/serializers/Username.ts
  packages/common/src/utils/firebaseAdmin.ts
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

chore: 🤖 update
  packages/common/src/firebaseAdmin/rooms.ts
Due: none

chore: 🤖 update
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

perf: ⚡️ refactor firebase admin w/ server runtime config
  packages/common/src/utils/firebaseAdmin.ts
Due: none

feat: 🎸 ini members screen
  locales/en/space.json
  packages/ui/src/components/MemberCard/MemberCard.tsx
  packages/ui/src/components/MemberCard/MemberCardStyles.ts
  packages/ui/src/components/MemberCard/index.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
  packages/ui/src/components/SpaceMember/index.ts
  packages/ui/src/components/SpaceMemberList/SpaceMemberList.tsx
  packages/ui/src/components/SpaceMemberList/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/members.tsx
Due: ui

perf: ⚡️ update space fab
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Due: ui

perf: ⚡️ settings screen tab order refactor
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
Due: ui

refactor: 💡 space fab change
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Due: ui

feat: 🎸 add firestore validation
  packages/ui/src/components/SpaceActivity/SpaceActivity.tsx
  packages/ui/src/components/SpaceMember/SpaceMember.tsx
Due: ui

feat: 🎸 ini settings page
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettings/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/settings.tsx
Due: ui

feat: 🎸 ini space settings
  locales/en/common.json
  locales/en/space.json
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/ui/src/components/SpaceSettingsForm/SpaceSettingsForm.tsx
  packages/ui/src/components/SpaceSettingsForm/index.ts
  packages/web/pages_/[spaceId]/settings.tsx
Due: ui

feat: 🎸 ini room settings
  locales/en/room.json
  packages/ui/src/components/RoomSettings/RoomSettings.tsx
  packages/ui/src/components/RoomSettings/index.ts
  packages/ui/src/components/RoomSettingsForm/RoomSettingsForm.tsx
  packages/ui/src/components/RoomSettingsForm/index.ts
  packages/ui/src/components/SpaceSettings/SpaceSettings.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
Due: ui

perf: ⚡️ add room settings
  locales/en/room.json
  packages/ui/src/components/RoomMenu/RoomMenu.tsx
Due: ui

refactor: 💡 space fab settings
  packages/ui/src/components/SpaceFab/SpaceFab.tsx
Due: ui

feat: 🎸 sublime mui link
  packages/ui/src/components/AuthForm/AuthForm.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/Link/index.ts
  packages/ui/src/components/MemberFab/MemberFab.tsx
  packages/ui/src/components/MuiLink/MuiLink.tsx
  packages/ui/src/components/MuiLink/index.ts
  packages/ui/src/components/SpaceNone/SpaceNone.tsx
Due: ui

feat: 🎸 activity leaderboard functions model refactor
  packages/@types/src/models/Leaderboard.ts
  packages/functions/src/activity/onCreate/scoreBatchUpdate.ts
  packages/functions/src/helpers/scoreUpdate.ts
Due: functions

feat: 🎸 add leaderboard tests
  packages/functions/src/__dummy__/Leaderboard.ts
  packages/functions/src/activity/onCreate/__tests__/scoreBatchUpdate.spec.ts
Due: functions

ci: 🎡 refactor github actions
  .github/workflows/deploy.yml
  .github/workflows/figma.yml
  .github/workflows/fossa.yml
  .github/workflows/functions.yml
  .github/workflows/gcr.yml
  .github/workflows/infrastructure.yml
  .github/workflows/release.yml
  .github/workflows/sentry.yml
  .github/workflows/ui.yml
  .github/workflows/video.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Due: none
