Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

feat: 🎸 introduce stepper create form feature
  locales/en/common.json
  packages/@types/src/atom/SpaceCreateForm.ts
  packages/common/src/firebase/members.ts
  packages/ui/package.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpaceStepperId/SpaceStepperId.tsx
  packages/ui/src/components/SpaceStepperId/index.ts
  packages/ui/src/components/SpaceStepperName/SpaceStepperName.tsx
  packages/ui/src/components/SpaceStepperName/index.ts
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
  packages/ui/src/components/SpaceStepperOther/index.ts
  packages/ui/src/components/StepperBoard/StepperBoard.tsx
  packages/ui/src/components/StepperBoard/StepperBoardStyles.ts
  packages/ui/src/components/StepperBoard/index.ts
  packages/ui/src/components/StepperButton/StepperButton.tsx
  packages/ui/src/components/StepperButton/StepperButtonStyles.ts
  packages/ui/src/components/StepperButton/index.ts
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/_app.tsx
  yarn.lock
Due: ui

feat: 🎸 add delete activity mock dummy
  packages/common/src/utils/firebaseAdmin.ts
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/activity/onCreate/userNotificationBatchCreate.ts
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
  packages/functions/src/members/onDelete/activityMemberDelete.ts
  packages/functions/src/rooms/onDelete/activityRoomDelete.ts
  packages/functions/src/spaces/onDelete/activitySpaceDelete.ts
  packages/functions/src/status/onUpdate/memberStatusUpdate.ts
  packages/functions/src/users/onCall/ipAddressAdd.ts
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
  packages/web/package.json
Due: functions, ui

chore: 🤖 activity model refactor
  packages/@types/src/models/Activity.ts
Due: none

feat: 🎸 refactor activity tests
  packages/@types/src/models/Activity.ts
  packages/functions/src/__dummy__/Activity.ts
  packages/functions/src/__tests__/activity.spec.ts
  packages/functions/src/activity/onCreate/__tests__/actionCategorySet.spec.ts
  packages/functions/src/activity/onCreate/__tests__/activityBatchSet.spec.ts
  packages/functions/src/activity/onCreate/__tests__/scoreBatchUpdate.spec.ts
  packages/functions/src/activity/onCreate/__tests__/userNotificationBatchCreate.spec.ts
  packages/functions/src/activity/onCreate/userNotificationBatchCreate.ts
Due: functions

feat: 🎸 room form create
  locales/en/common.json
  locales/en/form.json
  packages/@types/src/atom/RoomCreateForm.ts
  packages/@types/src/models/Room.ts
  packages/functions/src/__dummy__/Room.ts
  packages/ui/package.json
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/RoomCreate/RoomCreate.tsx
  packages/ui/src/components/RoomForm/RoomForm.tsx
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
  packages/ui/src/components/RoomStepperCreate/index.ts
  packages/ui/src/components/RoomStepperName/RoomStepperName.tsx
  packages/ui/src/components/RoomStepperName/index.ts
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
  packages/ui/src/components/RoomStepperOther/index.ts
  packages/ui/src/components/RoomStepperType/RoomStepperType.tsx
  packages/ui/src/components/RoomStepperType/index.ts
  packages/ui/src/components/SpaceCreate/SpaceCreate.tsx
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
  packages/ui/src/components/SpacePanelAccordion/index.ts
  packages/ui/src/components/SpaceStepperCreate/SpaceStepperCreate.tsx
  packages/ui/src/components/SpaceStepperCreate/index.ts
  yarn.lock
Due: functions, ui

chore: 🤖 types
  locales/en/common.json
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
Due: ui

perf: ⚡️ include reset set active form
  packages/ui/src/components/RoomStepperOther/RoomStepperOther.tsx
  packages/ui/src/components/SpaceStepperOther/SpaceStepperOther.tsx
Due: ui

feat: 🎸 refactor dark mode intl menu
  packages/ui/src/components/DarkModeButton/DarkModeButton.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/IntlForm/IntlForm.tsx
  packages/ui/src/components/IntlMenu/IntlMenu.tsx
  packages/ui/src/components/IntlMenu/index.ts
  packages/ui/src/components/ListMenu/ListMenu.tsx
Due: ui

perf: ⚡️ icon button for list menu
  packages/ui/package.json
  packages/ui/src/components/ListMenu/ListMenu.tsx
  yarn.lock
Due: ui

feat: 🎸 profile screen remove
  packages/ui/src/components/ProfileScreen/ProfileScreen.tsx
  packages/ui/src/components/ProfileScreen/ProfileScreenStyles.ts
  packages/ui/src/components/ProfileScreen/index.ts
  packages/web/i18n.json
  packages/web/pages_/profile.tsx
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: ui

feat: 🎸 ini badge status
  packages/ui/src/components/BadgeStatus/BadgeStatus.tsx
  packages/ui/src/components/BadgeStatus/index.ts
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
Due: ui

chore: 🤖 refactor pioneer frontier
  packages/pioneer/src/frontier/2020/12.md
Due: none

chore: 🤖 add cla github action
  .github/workflows/cla.yml
  CLA.md
Due: none

chore: 🤖 update
  .github/workflows/cla.yml
Due: none

chore: 🤖 sentrei github update
  .github/workflows/cla.yml
  infrastructure/modules/github/sentrei.tf
Due: none

chore: 🤖 auto pull request
  .github/workflows/auto-pull-request.yml
Due: none

feat: 🎸 upgrade license to gnu gpl v3
  LICENSE.md
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

Update auto-pull-request.yml
  .github/workflows/auto-pull-request.yml
Due: none

chore: 🤖 merge
  .github/workflows/cla.yml
Due: none

chore: 🤖 clean up gha
  .github/chatops.json
  .github/workflows/auto-pull-request.yml
  .github/workflows/backup.yml
  .github/workflows/sync.yml
  .github/workflows/vercel.yml
Due: none

chore: 🤖 update
  .github/workflows/auto-pull-request.yml
Due: none

chore: 🤖 update
  .github/workflows/backup.yml
Due: none

feat: 🎸 profile edit refactor
  locales/en/common.json
  packages/@types/src/models/Profile.ts
  packages/@types/src/models/Room.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/RoomStepperCreate/RoomStepperCreate.tsx
Due: ui

chore: 🤖 i18n sync
  locales/ja/common.json
  locales/ja/form.json
  locales/zh/common.json
  locales/zh/form.json
Due: none

perf: ⚡️ changed license SPDX license expression
  package.json
  packages/@types/package.json
  packages/blog/package.json
  packages/common/package.json
  packages/functions/package.json
  packages/pioneer/package.json
  packages/typedoc/package.json
  packages/ui/package.json
  packages/video/package.json
  packages/web/package.json
Due: none

chore: 🤖 update
  packages/@types/src/models/Profile.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
Due: ui

perf: ⚡️ refactor color and padding panel
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanelAccordion/SpacePanelAccordion.tsx
Due: ui

feat: 🎸 ini emoji component
  locales/en/common.json
  packages/ui/package.json
  packages/ui/src/components/Emoji/Emoji.tsx
  packages/ui/src/components/Emoji/EmojiStyled.tsx
  packages/ui/src/components/Emoji/index.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  yarn.lock
Due: ui

feat: 🎸 ini emoji styles
  packages/ui/src/components/Emoji/Emoji.tsx
  packages/ui/src/components/Emoji/EmojiStyled.tsx
Due: ui

feat: 🎸 ini profile popover
  packages/ui/src/components/ProfileCard/ProfileCard.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopover.tsx
  packages/ui/src/components/ProfileCardPopover/ProfileCardPopoverStyles.ts
  packages/ui/src/components/ProfileCardPopover/index.ts
Due: ui

feat: 🎸 refactor profile appheader
  packages/ui/src/components/AppHeader/AppHeader.tsx
  packages/ui/src/components/AppHeader/AppHeaderStyles.ts
  packages/web/pages_/[spaceId]/activity.tsx
  packages/web/pages_/[spaceId]/analytics.tsx
  packages/web/pages_/[spaceId]/create.tsx
  packages/web/pages_/[spaceId]/edit.tsx
  packages/web/pages_/[spaceId]/index.tsx
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
  packages/web/pages_/[spaceId]/leaderboard.tsx
  packages/web/pages_/[spaceId]/members.tsx
  packages/web/pages_/[spaceId]/quit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/delete.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/edit.tsx
  packages/web/pages_/[spaceId]/room/[roomId]/settings.tsx
  packages/web/pages_/[spaceId]/settings.tsx
  packages/web/pages_/create.tsx
  packages/web/pages_/dashboard.tsx
  packages/web/pages_/notifications.tsx
  packages/web/pages_/profile.tsx
  packages/web/pages_/settings.tsx
  packages/web/src/components/SentreiAppHeader.tsx
Due: ui, web

feat: 🎸 settins profile form
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
  packages/ui/src/components/ProfileUsernameForm/ProfileUsernameForm.tsx
  packages/ui/src/components/ProfileUsernameForm/index.ts
  packages/ui/src/components/SettingsOtherForm/SettingsOtherForm.tsx
  packages/ui/src/components/SettingsOtherForm/index.ts
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/index.ts
  packages/web/pages_/profile.tsx
Due: ui

feat: 🎸 space panel refactor (banner, status, panel)
  packages/ui/src/components/SpacePanel/SpacePanel.tsx
  packages/ui/src/components/SpacePanel/SpacePanelStyles.ts
  packages/ui/src/components/SpacePanelBanner/SpacePanelBanner.tsx
  packages/ui/src/components/SpacePanelBanner/SpacePanelBannerStyles.ts
  packages/ui/src/components/SpacePanelBanner/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatusStyles.ts
  packages/ui/src/components/SpacePanelStatus/index.ts
Due: ui

perf: ⚡️ add media query for memebers fab
  packages/ui/src/components/SpaceScreen/SpaceScreen.tsx
Due: ui

feat: 🎸 refactor emoji to emoji mart
  packages/ui/src/components/Emoji/index.ts
  packages/ui/src/components/EmojiMart/EmojiMart.tsx
  packages/ui/src/components/EmojiMart/EmojiMartStyled.tsx
  packages/ui/src/components/EmojiMart/index.ts
  packages/ui/src/components/ProfileEdit/ProfileEdit.tsx
Due: ui

feat: 🎸 ini emoji picker
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/EmojiPicker/EmojiPickerStyles.ts
  packages/ui/src/components/EmojiPicker/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: ui

feat: 🎸 complete initial emoji picker
  packages/ui/src/components/EmojiMart/EmojiMart.tsx
  packages/ui/src/components/EmojiPicker/EmojiPicker.tsx
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: ui

feat: 🎸 ini space panel emoji picker
  packages/ui/src/components/SpacePanelEmojiPicker/SpacePanelEmojiPicker.tsx
  packages/ui/src/components/SpacePanelEmojiPicker/index.ts
  packages/ui/src/components/SpacePanelStatus/SpacePanelStatus.tsx
Due: ui

Path conditions:
  functions: any of: packages/functions/src
  ui: any of: packages/ui/src
  video: any of: packages/video/src
  web: any of: packages/web/src
