Repository delta94/sentrei: changes, and which Codecov flags are due for each by the changed paths.
All: functions, ui, video, web

.codecov.yml:

coverage:
  status:
    project: off
    patch: off
flags:
  functions:
    paths:
      - packages/functions/src
    carryforward: true
  ui:
    paths:
      - packages/ui/src
    carryforward: true
  video:
    paths:
      - packages/video/src
    carryforward: true
  web:
    paths:
      - packages/web/src
    carryforward: true
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

feat: 🎸 refactor sendgrid model
  packages/@types/src/models/Email.ts
  packages/@types/src/models/Notification.ts
  packages/functions/src/__dummy__/Email.ts
  packages/functions/src/__dummy__/Notification.ts
  packages/functions/src/helpers/sendGrid.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/MailClient.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/notificationEmailSend.ts
Due: functions

feat: 🎸 add invite Email sendgrid send
  packages/@types/src/models/Email.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/index.ts
  packages/functions/src/sendgrid/onCreate/inviteEmailSend.ts
  packages/functions/src/sendgrid/onCreate/notificationEmailSend.ts
Due: functions

feat: 🎸 ini invite email form
  packages/common/src/firebase/invites.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
Due: ui

chore: 🤖 update activity rules
  packages/functions/firestore/firestore.rules
Due: none

feat: 🎸 integrage member profile
  packages/common/src/firebase/profiles.ts
  packages/common/src/firebase/usernames.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
Due: ui

perf: ⚡️ update firestore model and rules for members
  packages/@types/src/models/Member.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteUsernameForm/InviteUsernameForm.tsx
Due: ui

chore: 🤖 update create invite rules
  packages/functions/firestore/firestore.rules
Due: none

feat: 🎸 ini invite list
  packages/@types/src/components/InviteCard.ts
  packages/@types/src/components/InviteList.ts
  packages/ui/src/components/FormSection/FormSectionStyles.ts
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteCard/index.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/index.ts
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
Due: ui

feat: 🎸 complete email invite list
  packages/@types/src/components/InviteCard.ts
  packages/@types/src/components/InviteList.ts
  packages/common/src/firebase/members.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
Due: ui

feat: 🎸 ini invite link form create
  packages/@types/src/models/Invite.ts
  packages/ui/src/components/InviteLinkForm/InviteLinkForm.tsx
  packages/ui/src/components/InviteScreen/InviteScreen.tsx
  packages/web/pages_/[spaceId]/invite/index.tsx
Due: ui

chore: 🤖 upgrade
  packages/ui/src/components/InviteCard/InviteCard.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/InviteCard/InviteCard.tsx
  packages/ui/src/components/InviteList/InviteList.tsx
  packages/ui/src/components/InviteList/InviteListStyles.ts
Due: ui

feat: 🎸 add copy to clipboard
  packages/pioneer/src/week/2020/12.md
  packages/ui/src/components/InviteCard/InviteCard.tsx
Due: ui

feat: 🎸 integrate invite email
  packages/@types/src/models/Invite.ts
  packages/functions/src/helpers/sendgrid/InviteEmail.ts
  packages/functions/src/helpers/sendgrid/UpdateEmail.ts
  packages/functions/src/sendgrid/onCreate/inviteEmailSend.ts
  packages/ui/src/components/InviteEmailForm/InviteEmailForm.tsx
Due: functions, ui

perf: ⚡️ change updatedBy order
  packages/common/src/firebase/members.ts
Due: none

feat: 🎸 refactor analytics space
  packages/@types/src/models/Activity.ts
  packages/@types/src/models/Analytics.ts
  packages/functions/firestore/firestore.rules
  packages/functions/src/analytics/onCreate/__tests__/spaceStatsPlus.spec.ts
  packages/functions/src/analytics/onCreate/__tests__/statsPlus.spec.ts
  packages/functions/src/analytics/onCreate/spaceStatsPlus.ts
  packages/functions/src/analytics/onDelete/__tests__/spaceStatsMinus.spec.ts
  packages/functions/src/analytics/onDelete/__tests__/statsMinus.spec.ts
  packages/functions/src/analytics/onDelete/spaceStatsMinus.ts
  packages/functions/src/helpers/scoreActions.ts
Due: functions

chore: 🤖 update invites functions
  packages/functions/src/index.ts
  packages/functions/src/invites/onCreate/index.ts
  packages/functions/src/invites/onDelete/index.ts
Due: functions

chore: 🤖 update
  packages/functions/src/invites/onDelete/activityInviteDelete.ts
Due: functions

chore: 🤖 update bug inviteId
  packages/functions/src/invites/onCreate/activityInviteCreate.ts
Due: functions

feat: 🎸 refactor settings form divide
  packages/@types/src/components/SettingsNotificationForm.ts
  packages/@types/src/components/SettingsUsernameForm.ts
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/ui/src/components/InviteSignupForm/InviteSignupFormStyles.ts
  packages/ui/src/components/InviteSignupForm/index.ts
  packages/ui/src/components/NotificationForm/index.ts
  packages/ui/src/components/PasswordUpdateForm/index.ts
  packages/ui/src/components/SettingsNotificationForm/SettingsNotificationForm.tsx
  packages/ui/src/components/SettingsNotificationForm/index.ts
  packages/ui/src/components/SettingsPasswordForm/SettingsPasswordForm.tsx
  packages/ui/src/components/SettingsPasswordForm/index.ts
  packages/ui/src/components/SettingsScreen/SettingsScreen.tsx
  packages/ui/src/components/SettingsUsernameForm/SettingsUsernameForm.tsx
  packages/ui/src/components/SettingsUsernameForm/index.ts
  packages/ui/src/components/UsernameForm/index.ts
Due: ui

perf: ⚡️ update score actions
  packages/functions/src/helpers/scoreActions.ts
Due: functions

feat: 🎸 ini invite signup
  packages/@types/src/components/InviteSignup.ts
  packages/@types/src/components/InviteSignupForm.ts
  packages/common/src/firebase/invites.ts
  packages/functions/firestore/firestore.rules
  packages/ui/src/components/InviteSignup/InviteSignup.tsx
  packages/ui/src/components/InviteSignup/index.ts
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
  packages/web/i18n.json
  packages/web/pages_/[spaceId]/invite/[inviteId]/index.tsx
Due: ui

chore: 🤖 update
  locales/en/auth.json
  packages/ui/src/components/InviteSignupForm/InviteSignupForm.tsx
Due: ui

perf: ⚡️ upgrade next.js to v9.5.0
  package.json
  packages/common/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: 🤖 update
  yarn.lock
Due: none

chore: 🤖 try getStaticProps for profile page
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

chore: 🤖 update
  packages/web/pages_/profile/[usernameId]/index.tsx
Due: none

chore: 🤖 update
  packages/pioneer/src/frontier/2020/11.md
Due: none

chore: 🤖 update
  packages/pioneer/src/project/README.md
Due: none

chore: 🤖 update
  packages/pioneer/src/project/VIDEO.md
Due: none

fix: 🐛 use animations complete error
  packages/ui/src/components/Footer/Footer.tsx
Due: ui

fix: 🐛 remove typical animation
  packages/ui/package.json
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/Typical/Typical.tsx
  packages/ui/src/components/Typical/TypicalStyles.ts
  packages/ui/src/components/Typical/index.ts
Due: ui

chore: 🤖 remove react typist
  yarn.lock
Due: none

feat: 🎸 refactor rough notation banner
  packages/@types/src/components/RoughNotation.ts
  packages/ui/src/components/Banner/Banner.tsx
  packages/ui/src/components/RoughNotation/RoughNotation.tsx
Due: ui

chore: 🤖 update
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

perf: ⚡️ finalize banner design for notation
  packages/ui/src/components/Banner/Banner.tsx
Due: ui

chore: 🤖 complete
  packages/ui/src/components/Banner/Banner.tsx
Due: ui
